body {
    overflow: hidden;
    margin: 0 auto;
    font-family: monospace;
}

#score, #name, #best {
    width: 30%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

/*#scorePanel {*/
    /*height: 30px;*/
/*}*/

#game {
    /*top: 0px;*/
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
}





